html,
body {
	height: 100%;
}
main {
	height: 100%;
	display: grid;
	place-items: center;
}

.container {
	width: 200px;
}

color-picker {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* --bg: rgb(13, 1, 45); */
	/* --bg-input: red; */
	--font-color: red;
	--bg-error: red;
}
